@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --background-lighter: 0 0% 100%;
    --foreground: 0 0% 0%;
    --header: 0 0% 100%;

    --primary-color: 218 96% 67%;
    --special_1: 211 85% 39%;
    --special_2: 275 86% 34%;
    --boxy: 0 0% 100%;
    --detail: 275 86% 34%;

    --glow: 0 0% 95%;
    --text-glow: 211 61% 48%%;
    --glow-left: 0 0% 95%;
    --glow-right: 0 0% 95%;

    --border: 299 98% 23%;
  }

  .dark {
    --background: 216 65% 10%;
    --background-lighter: 216 65% 15%;
    --foreground: 216 40% 70%;
    --header: 216 65% 10%;

    --primary-color: 218 96% 67%;
    --special_1: 184 100% 55%;
    --special_2: 52 91% 64%;
    --boxy: 184 100% 55%;
    --detail: 140 100% 70%;

    --glow: 226 70% 88%;
    --text-glow: 226 70% 88%;
    --glow-left: 223 98% 54%;
    --glow-right: 299 98% 38%;

    --border: 299 98% 23%;
  }
}

@layer base {
  /*   ::selection {
    background-color: var(--lightest-navy);
    color: var(--lightest-slate);
  }
 */
  html {
    @apply scroll-smooth font-sans;
  }
  body {
    @apply w-full min-h-screen bg-background text-foreground;
  }
  /*   body {
    background: radial-gradient(at 50% 50%, hsl(298, 100%, 15%) 0px, hsl(216, 65%, 10%) 50%) repeat scroll 0% 0%;
  } */
  section {
    @apply w-full px-0 py-24 max-w-[1300px] tabletL:py-32;
  }
  h1,
  h2,
  h3 {
    @apply leading-none;
  }
}

@layer components {
  .underAnimated {
    @apply relative text-sm text-special_1 w-fit;
  }
  .underAnimated::after {
    @apply absolute content-[""] bg-special_1 h-[1px] w-0 left-0 -bottom-[1px] rounded-xl duration-200;
  }
  .underAnimated:hover::after {
    @apply w-full;
  }
  .heroName {
    @apply font-bold text-special_1;
  }
  .big-font {
    @apply text-clamp-bg;
  }
  .mid-font {
    @apply text-clamp-md;
  }
  .title {
    @apply text-clamp-sm text-special_1 mb-10 text-center;
  }
  .icon {
    @apply text-special_1 hover:scale-110 hover:drop-shadow-glow hover:text-text-glow;
  }
  .jobDescriptionList {
    @apply list-none;
  }
  .jobDescriptionList::before {
    @apply absolute content-["➣"] left-0 text-detail;
  }
  .glowGradient {
    @apply bg-gradient-to-r from-glow-left to-glow-right;
  }
  .glowBox {
    @apply -translate-x-1 -translate-y-1 shadow-boxy;
  }
}
