@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-lighter: 216 65% 90%;
    --foreground: 0 0% 0%;
    --header: 0 0% 95%;

    --primary-color: 0 0% 0%;
    --special_1: 216 100% 40%;
    --special_2: 216 100% 40%;
    --boxy: 12 91% 46%;
    --detail: 12 91% 46%;
    --detail-lighter: 12 91% 46%;

    --glow: 0 0% 100%;
    --text-glow: 216 100% 55%;
    --glow-left: 215 99% 65%;
    --glow-right: 215 99% 45%;

    --border: 216 100% 40%;
    --gradient-1: 0 0% 100%;
    --gradient-2: 0 0% 100%;

    /* shadcn */
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
  }

  .dark {
    --background: 216 65% 10%;
    --background-lighter: 216 65% 15%;
    --foreground: 216 40% 70%;
    --header: 216 65% 10%;

    --primary-color: 218 96% 67%;
    --special_1: 184 100% 55%;
    --special_2: 52 91% 64%;
    --boxy: 184 100% 55%;
    --detail: 140 100% 70%;
    --detail-lighter: 140 100% 80%;

    --glow: 226 70% 88%;
    --text-glow: 226 70% 88%;
    --glow-left: 299 98% 38%;
    --glow-right: 223 98% 54%;

    --border: 180 100% 50%;
    --gradient-1: 298 100% 15%;
    --gradient-2: 216 65% 10%;

    /* shadcn */
    --accent: 140 100% 70%;
    --accent-foreground: 216 65% 10%;
    --muted: 140 100% 70%;
    --muted-foreground: 216 65% 10%;
  }
}

@layer base {
  /*   ::selection {
    background-color: var(--lightest-navy);
    color: var(--lightest-slate);
  }
 */
  html {
    @apply scroll-smooth font-sans;
  }
  body {
    @apply w-full min-h-svh h-svh bg-background text-foreground;
  }
  body {
    background: radial-gradient(at 50% 50%, hsl(var(--gradient-1)) 0px, hsl(var(--gradient-2)) 50%) repeat scroll 0% 0%;
  }
  /*   body {
    @apply bg-[radial-gradient(at_50%_50%,_hsl(var(--gradient-1))_0px,_hsl(var(--gradient-2))_50%)_repeat_scroll_0%_0%];
  } */
  section {
    @apply w-full px-0 py-24 max-w-[1300px] tabletL:py-32;
  }
  h1,
  h2,
  h3 {
    @apply leading-none;
  }
}

@layer components {
  .btn {
    @apply text-detail border border-detail rounded-md py-1 hover:text-special_1 hover:border-special_1;
  }
  .underAnimated {
    @apply relative text-sm text-special_1 w-fit;
  }
  .underAnimated::after {
    @apply absolute content-[""] bg-special_1 h-[1px] w-0 left-0 -bottom-[1px] rounded-xl duration-200;
  }
  .underAnimated:hover::after {
    @apply w-full;
  }
  .heroName {
    @apply font-bold text-special_1;
  }
  .big-font {
    @apply text-clamp-bg;
  }
  .mid-font {
    @apply text-clamp-md;
  }
  .title {
    @apply text-clamp-sm text-special_1 mb-10 text-center;
  }
  .icon {
    @apply text-special_1 hover:scale-110 hover:drop-shadow-glow hover:text-text-glow;
  }
  .jobDescriptionList {
    @apply list-none;
  }
  .jobDescriptionList::before {
    @apply absolute content-["➣"] left-0 text-detail;
  }
  .glowGradient {
    @apply bg-gradient-to-r from-glow-left to-glow-right;
  }
  .glowBox {
    @apply -translate-x-1 -translate-y-1 shadow-boxy;
  }
  .conicGradientTw {
    @apply animate-moving-around opacity-50 bg-[conic-gradient(from_0deg_at_50%_50%,_rgb(255,_255,_255)_0.190351deg,_rgba(255,_255,_255,_0)_53.2425deg,_rgba(255,_255,_255,_0)_306deg,_rgb(255,_255,_255)_360deg)];
  }
  .adminTitle {
    @apply font-bold text-xl text-special_1;
  }
}
