@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --link: 184 100% 55%;

    --primary-color: 218 96% 67%;
    --special_1: 184 100% 55%;
    --special_2: 52 91% 64%;
    --detail: 140 100% 70%;

    --lightest-navy: 218, 41%, 23%;
    --lightest-slate: 226, 70%, 88%;
  }

  .dark {
    --background: 216 65% 10%;
    --foreground: 216 40% 70%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --link: 184 100% 55%;

    --primary-color: 218 96% 67%;
    --special_1: 184 100% 55%;
    --special_2: 52 91% 64%;
    --detail: 140 100% 70%;

    --lightest-navy: 218, 41%, 23%;
    --lightest-slate: 226, 70%, 88%;

    --glow: 226, 70%, 88%;
  }
}

@layer base {
  /*   ::selection {
    background-color: var(--lightest-navy);
    color: var(--lightest-slate);
  }
 */
  html {
    @apply scroll-smooth w-full h-full font-sans;
  }
  body {
    @apply h-full bg-background text-foreground;
  }
  /*   body {
    background: radial-gradient(at 50% 50%, hsl(298, 100%, 15%) 0px, hsl(216, 65%, 10%) 50%) repeat scroll 0% 0%;
  } */
  section {
    @apply px-0 py-44 min-h-screen w-full;
  }
  h1,
  h2,
  h3 {
    @apply leading-none;
  }
  p {
    @apply leading-relaxed;
  }
}

@layer components {
  /*   #root {
    @apply min-h-screen grid grid-rows-[1fr_auto] grid-cols-[100%];
  }
  #layout {
    @apply flex flex-col min-h-screen;
  } */
  .sidebar {
    @apply fixed bottom-20 w-fit h-fit z-10;
  }
  .nav {
    @apply flex flex-col justify-center gap-4;
  }
  .underAnimated {
    @apply relative text-sm text-special_1 w-fit;
  }
  .underAnimated::after {
    @apply absolute content-[""] bg-special_1 h-[1px] w-0 left-0 -bottom-[1px] rounded-xl duration-200;
  }
  .underAnimated:hover::after {
    @apply w-full;
  }
  .hero {
    @apply font-bold text-special_1;
  }
  .big-font {
    @apply text-clamp-lg;
  }
  .title {
    @apply text-clamp-md text-special_1;
  }
  .tooltip {
    @apply invisible absolute;
  }
  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }
  .icon {
    @apply text-special_1 hover:scale-110 hover:drop-shadow-white hover:text-white;
  }
}

@layer base {
  @font-face {
    font-family: 'RobotoMono';
    src: url('../public/fonts/RobotoMono-VariableFont_wght.ttf');
    font-weight: 400;
  }
  @font-face {
    font-family: 'SourceCodePro';
    src: url('../public/fonts/SourceCodePro-VariableFont_wght.ttf');
  }
}
